<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientists 
- List popular development environment tools (open source)
- Create a markdown cell introducing arithmetic expression examples

Some of the popular languages that Data Scientists use are: <br>
<ol>
<li> Python</li>
<li> SQL </li>
<li> R </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li> NumPy </li>
<li> Pandas  </li>
<li> SciPy  </li>
</ol>

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|R Studioâ€™s |
|Gitlab|

<h3> Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [22]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 200
hours =  Minutes % 60
print("Hours=", hours)

Hours= 20

<h2> Author </h2> </br>
Naama Cohen